@{
}
<link rel="stylesheet" type="text/css" href="~/css/registration_page_style.css">
<link rel="stylesheet" type="text/css" href="~/css/main_page_style.css">

    <div class="byxnxM">
        <div class="hIrZrE">
            <div class="iyocDW">
                <div class="jJXygk">
                    <div class="plnLv">
                        <div class="csAXhw">
                            <svg width="18px" height="18px" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                                <path fill="#000000"
                                    d="M14.25 44V25.6q-2.6-.55-4.425-2.625Q8 20.9 8 18V4h3v14h3.25V4h3v14h3.25V4h3v14q0 2.9-1.825 4.975Q19.85 25.05 17.25 25.6V44ZM35 44V28h-5.75V12.75q0-3.95 2.4-6.35Q34.05 4 38 4v40Z">
                                </path>
                            </svg>
                        </div>
                    </div>
                </div>
                <div height="100%" class="iaWulL">
                    <div height="100%" class="kCUIAl">
                        <a>
                            <div class="TTLcH">
                                <div class="lcNqgn">
                                    <div class="cBjxhF">
                                        <div class="hfcCSo">
                                            <img src="~/images/logo.png" class="cYSgHb" height="120px"
                                                width="auto">
                                            <h1 class="fxcbGf">Daily Food
                                            </h1>
                                        </div>
                                    </div>
                                    <div class="bKQARb">
                                        <img src="~/images/logo.png" class="cYSgHb" height="120px" width="auto">
                                    </div>
                                </div>
                            </div>
                            <div class="hmFCJm">
                                <div class="cBjxhF">
                                    <div class="hfcCSo">
                                        <img src="~/images/logo.png" class="cYSgHb" height="120px" width="auto">
                                    </div>
                                </div>
                                <div class="bKQARb">
                                    <img src="~/images/logo.png" class="cYSgHb" height="120px" width="auto">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div>
            </div>
            <div>
                <div>
                    <style>
                        #annoucement-1 .container-background {
                            background: #f2f2f2;
                        }

                        #annoucement-1 .header-color {
                            color: #000000;
                        }

                        #annoucement-1 .sub-color {
                            color: #000000;
                        }

                        #annoucement-1 .border-color {
                            border-color: rgba(255, 255, 255, 0.5);
                        }
                    </style>
                    <style>
                        .container {
                            width: 100%;
                        }

                        .wrapper {
                            max-width: 1200px;
                            margin: 0 auto;
                            display: flex;
                            display: -ms-flexbox;
                            flex-direction: column;
                        }

                        .box {
                            flex: 1 0 0%;
                            -ms-flex: 1 0 0%;
                            text-align: center;
                            padding: 20px 0;
                            margin: 0 20px;
                        }

                        .box:not(:last-child) {
                            border: 0 solid transparent;
                            border-bottom-width: 1px;
                        }

                        .header {
                            font-size: 1rem;
                            line-height: 1.2rem;
                        }

                        .sub {
                            font-size: 1rem;
                            margin: 0;
                        }

                        @@media (min-width: 1024px) {
                            .wrapper {
                                flex-direction: row;
                            }

                            .box {
                                padding: 0 20px;
                                margin: 20px 0;
                            }

                            .box:not(:last-child) {
                                border-bottom-width: 0;
                                border-right-width: 1px;
                            }
                        }
                    </style>
                </div>
            </div>
            <div class="registration">
                <div class="sc-1acu81b-0 sc-8slcnd-0 cMUQOQ">
                    <h2 class="sc-1acu81b-0 sc-14ntqp3-0 sc-14ntqp3-1 sc-14ntqp3-3 ckxKDR">
                        Реєстрація</h2>
                </div>
                <div class="container">
<div class="sc-1acu81b-0 sc-1pa0b2f-0 dEwaHC __card">
    <form class="sc-16f0j0m-0 cOuEhu" method="post">
           <div class="sc-1acu81b-0 p4bqbh-1 itozEE">
               <div class="sc-1acu81b-0 sc-8slcnd-0 sc-12uj57n-3 gLoLRE">
                   <div class="sc-1acu81b-0 sc-8slcnd-0 sc-12uj57n-4 jUcdXt">
                       <input id="lastName" class="sc-12uj57n-0 gFHwXw" type="text"
                           name="lastName" value=""><label for="lastName"
                           class="sc-1acu81b-0 sc-14ntqp3-0 sc-14ntqp3-1 sc-14ntqp3-6 sc-12uj57n-1 jndxzP">Прізвище</label>
                   </div>
               </div>
           </div>
           <div class="sc-1acu81b-0 p4bqbh-1 itozEE">
               <div class="sc-1acu81b-0 sc-8slcnd-0 sc-12uj57n-3 gLoLRE">
                   <div class="sc-1acu81b-0 sc-8slcnd-0 sc-12uj57n-4 jUcdXt">
                       <input id="firstName" class="sc-12uj57n-0 gFHwXw" type="text"
                           name="firstName" value=""><label for="firstName"
                           class="sc-1acu81b-0 sc-14ntqp3-0 sc-14ntqp3-1 sc-14ntqp3-6 sc-12uj57n-1 jndxzP">Ім'я</label>
                   </div>
               </div>
           </div>
           <div class="sc-1acu81b-0 p4bqbh-1 itozEE">
               <div class="sc-1acu81b-0 sc-8slcnd-0 sc-12uj57n-3 gLoLRE">
                   <div class="sc-1acu81b-0 sc-8slcnd-0 sc-12uj57n-4 jUcdXt">
                       <input id="birthDate" class="sc-12uj57n-0 gFHwXw" type="date"
                           name="birthDate" value=""><label for="birthDate"
                           class="sc-1acu81b-0 sc-14ntqp3-0 sc-14ntqp3-1 sc-14ntqp3-6 sc-12uj57n-1 jndxzP">Дата
                           народження</label>
                   </div>
               </div>
           </div>
           <div class="sc-1acu81b-0 p4bqbh-1 itozEE">
               <div class="sc-3oxrfd-0 iurGlV">
                   <div class="allow-dropdown separate-dial-code iti-sdc-4 intl-tel-input">
                       <div class="flag-container">
                           <div class="selected-flag" tabindex="0"
                               title="Ukraine (Україна): +380">
                               <div class="iti-flag ua"></div>
                               <div class="selected-dial-code">+380</div>
                               <div class="arrow down"></div>
                           </div>
                           <ul class="country-list hide">
                               <li class="country highlight" data-dial-code="380"
                                   data-country-code="ua">
                                   <div class="flag-box">
                                       <div class="iti-flag ua"></div>
                                   </div><span class="country-name">Ukraine
                                       (Україна)</span><span class="dial-code">+ 380</span>
                               </li>
                           </ul>
                       </div><input required="" pattern="^[+]?[0-9 -]+" type="tel"
                           autocomplete="off" class="" name="phone" id="phone" placeholder=""
                           value="">
                   </div><label for="phone"
                       class="sc-1acu81b-0 sc-14ntqp3-0 sc-14ntqp3-1 sc-14ntqp3-6 sc-12uj57n-1 sc-3oxrfd-1 jImnwe">Номер
                       телефону</label>
               </div>
           </div>
           <div class="sc-1acu81b-0 p4bqbh-1 itozEE">
               <div class="sc-1acu81b-0 sc-8slcnd-0 sc-12uj57n-3 gLoLRE">
                   <div class="sc-1acu81b-0 sc-8slcnd-0 sc-12uj57n-4 jUcdXt">
                       <input id="email" class="sc-12uj57n-0 gFHwXw" type="email" name="email"
                           value=""><label for="email"
                           class="sc-1acu81b-0 sc-14ntqp3-0 sc-14ntqp3-1 sc-14ntqp3-6 sc-12uj57n-1 jndxzP">Логін
                           (ел. пошта)</label>
                   </div>
               </div>
           </div>
           <div class="sc-1acu81b-0 p4bqbh-1 itozEE">
               <div class="sc-1acu81b-0 sc-8slcnd-0 sc-12uj57n-3 gLoLRE">
                   <div class="sc-1acu81b-0 sc-8slcnd-0 sc-12uj57n-4 jUcdXt">
                       <input id="password" class="sc-12uj57n-0 gFHwXw" type="password"
                           name="password" value=""><label for="password"
                           class="sc-1acu81b-0 sc-14ntqp3-0 sc-14ntqp3-1 sc-14ntqp3-6 sc-12uj57n-1 jndxzP">Пароль</label>
                   </div>
               </div>
           </div>
        <div class="sc-1acu81b-0 p4bqbh-1 itozEE">
            <div class="sc-1acu81b-0 sc-8slcnd-0 sc-12uj57n-3 gLoLRE">
                <div class="sc-1acu81b-0 sc-8slcnd-0 sc-12uj57n-4 jUcdXt">
                    <input id="passwordRepeat" class="sc-12uj57n-0 gFHwXw" type="password"
                        name="passwordRepeat" value=""><label for="passwordRepeat"
                        class="sc-1acu81b-0 sc-14ntqp3-0 sc-14ntqp3-1 sc-14ntqp3-6 sc-12uj57n-1 jndxzP">Повторіть
                        пароль</label>
                </div>
            </div>
        </div>

        <div class="sc-1acu81b-0 sc-8slcnd-0 sc-1qyon5p-0 gNCpiQ"><input
                id="acceptMarketing" name="acceptMarketing" type="checkbox"
                class="sc-1qyon5p-1 dpOeWx" checked="">
            <div role="checkbox" class="sc-1acu81b-0 sc-8slcnd-0 sc-1qyon5p-2 ctdzsf"><svg
                    class="sc-1qyon5p-3 jiwYbE" width="16" height="16" viewBox="0 0 35 28">
                    <title>Tick</title>
                    <g transform="translate(-2 -6)" fill="none" fill-rule="evenodd">
                        <rect width="39" height="39" rx="5"></rect>
                        <path
                            d="M36.192 6.808a2.758 2.758 0 0 0-3.9 0L12.49 26.609l-5.759-5.897a2.76 2.76 0 0 0-3.947 3.853l7.708 7.896c.515.527 1.22.826 1.958.832h.016a2.76 2.76 0 0 0 1.95-.809l21.775-21.776a2.758 2.758 0 0 0 0-3.9"
                            fill="#ffffff"></path>
                    </g>
                </svg></div>
            <p class="sc-1acu81b-0 sc-14ntqp3-0 sc-14ntqp3-7 jvhtXV">
                Я даю згоду на збір та обробку моїх персональних даних.</p>
        </div>
        <div class="sc-1acu81b-0 sc-8slcnd-0 aheg1h-1 bhLcWC"><button type="submit"
                class="sc-1ljqqky-0 ixpzHc aheg1h-0 hYVrEX" width="auto">
                <h4
                    class="sc-1acu81b-0 sc-14ntqp3-0 sc-14ntqp3-1 sc-14ntqp3-6 sc-1ljqqky-1 cPHxZb">
                    Зареєструватися</h4>
            </button>
        </div>
    </form>
</div>
                </div>
            </div>
        </div>
<footer>
    <img src="~/images/logo.png">
    <p>© 2023 ™ DailyFood. Всі права захищені.</p>
</footer>
    </div>
