@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model int
@{
}
<link rel="stylesheet" href="~/css/main_page_style.css">
<link rel="stylesheet" href="~/css/order_page_style.css">

<div class="byxnxM">
    <div class="hIrZrE">
        <div class="iyocDW">
            <div class="jJXygk">
                <div class="plnLv">
                    <div class="csAXhw">
                        <svg width="18px" height="18px" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                            <path fill="#000000"
                                  d="M14.25 44V25.6q-2.6-.55-4.425-2.625Q8 20.9 8 18V4h3v14h3.25V4h3v14h3.25V4h3v14q0 2.9-1.825 4.975Q19.85 25.05 17.25 25.6V44ZM35 44V28h-5.75V12.75q0-3.95 2.4-6.35Q34.05 4 38 4v40Z">
                            </path>
                        </svg>
                    </div>
                </div>
            </div>
            <div height="100%" class="iaWulL">
                <div height="100%" class="kCUIAl">
                    <a>
                        <div class="TTLcH">
                            <div class="lcNqgn">
                                <div class="cBjxhF">
                                    <div class="hfcCSo">
                                        <img src="~/images/logo.png" class="cYSgHb" height="120px"
                                             width="auto">
                                        <h1 class="fxcbGf logo-btn">
                                            Daily Food
                                        </h1>
                                    </div>
                                </div>
                                <div class="bKQARb">
                                    <img src="~/images/logo.png" class="cYSgHb" height="120px" width="auto">
                                </div>
                            </div>
                        </div>
                        <div class="hmFCJm">
                            <div class="cBjxhF">
                                <div class="hfcCSo">
                                    <img src="~/images/logo.png" class="cYSgHb" height="120px" width="auto">
                                </div>
                            </div>
                            <div class="bKQARb">
                                <img src="~/images/logo.png" class="cYSgHb" height="120px" width="auto">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div>
        </div>
        <div class="order">
            <div class=" sc-1acu81b-0 sc-8slcnd-0 cMUQOQ">
                <h1 class="sc-1acu81b-0 sc-14ntqp3-0 sc-14ntqp3-1 sc-14ntqp3-3 ckxKDR">
                    Дякуємо за замовлення!
                </h1>
            </div>
            <div class="container">
                <h2 id="order-number">Замовлення №@Model;</h2>
                <p>Дякуємо за ваше замовлення! Воно буде передано в обробку та виконано найближчим часом.</p>
                <p>
                    Для того, щоб оплачувати замовлення онлайн, завантажуйте наш додаток за <a href="https://www.apple.com/ua/app-store/">посиланням</a>.
                </p>
            </div>
        </div>
    </div>
    <footer>
        <img src="~/images/logo.png">
        <p>© 2023 ™ DailyFood. Всі права захищені.</p>
    </footer>
</div>