<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="~/images/favicon_donut.ico" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]Daily Food</title>
</head>
<body>
    <main>
        

        @RenderBody()



    </main>
</body>
</html>
