<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="./images/favicon_donut.ico" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DailyFoodProject</title>
</head>
<body>
    <main>
        

        @RenderBody()



    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="~/js/script.js"></script>
    <script src="~/js/basket_script.js"></script>
</body>
</html>
